{% if request.user.is_authenticated %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle btn anlzer-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>{{ request.user.username }}</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
             {% if request.user.is_company %}
                <li><a href="{% url 'company-admin-panel' %}">Admin Panel</a></li>
             {% else %}
                <li><a href="#">Account</a></li>
             {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
          </ul>
        </li>
{% else %}
    <li><a class="btn anlzer-btn" href="{% url 'login' %}">Login</a></li>
    <li><span class="seperating-or">or</span><a href="{% url 'register' %}">Register</a></li>
{% endif %}