/* variable definition */

// text
$anlzer-black: #333;
$anlzer-darkgrey: #333333;
$anlzer-darkgrey-hover: #383838;
$anlzer-grey: #999;
$anlzer-grey-hover: #aaa;
$input-border-grey: #C1C1C1;
$anlzer-yellow: rgb(9, 158, 110);
$anlzer-yellow-hover: rgb(10, 170, 118);
$anlzer-green: #2CC311;
$anlzer-red: #D90000;


// background
$anlzer-opac-white: rgba(255, 255, 255, 0.1);
$anlzer-opac-white-hover: rgba(255, 255, 255, 0.2);
$anlzer-opac-black: rgba(0, 0, 0, 0.85);
$anlzer-opac-black-hover: rgba(0, 0, 0, 0.5);
$anlzer-danger: #810707;
$anlzer-danger-hover: #900909;