/* variable definition */
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 30px; }

.stepwizard .stepwizard-row {
  display: table-row; }

.stepwizard .stepwizard-row::before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: grey;
  z-order: 0; }

.stepwizard .stepwizard-row .stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

.stepwizard .stepwizard-row .stepwizard-step .btn.wizard-btn {
  color: #ccc;
  border: 1px solid grey;
  background: #333;
  border-radius: 50%;
  padding: 20px 30px;
  top: -15px;
  position: relative;
  font-size: 20px;
  cursor: default; }

.stepwizard .stepwizard-row .stepwizard-step .btn.wizard-btn.active {
  background: #e89f10; }

.stepwizard .stepwizard-row .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

/* variable definition */
form.anlzer-form input,
form.anlzer-form textarea,
form.anlzer-form select {
  outline: 0;
  border: none;
  background: transparent;
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid #C1C1C1 !important;
  border-radius: 0;
  color: grey;
  font-weight: 300;
  font-size: 20px;
  overflow: hidden; }

form.anlzer-form input:active, form.anlzer-form input:focus,
form.anlzer-form textarea:active,
form.anlzer-form textarea:focus,
form.anlzer-form select:active,
form.anlzer-form select:focus {
  outline: none; }

form.anlzer-form input:-webkit-autofill, form.anlzer-form input:-webkit-autofill:focus,
form.anlzer-form textarea:-webkit-autofill,
form.anlzer-form textarea:-webkit-autofill:focus,
form.anlzer-form select:-webkit-autofill,
form.anlzer-form select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  color: grey; }

form.anlzer-form input[type=file],
form.anlzer-form textarea[type=file],
form.anlzer-form select[type=file] {
  display: inline-block; }

form.anlzer-form .label-icon {
  margin-right: 25px;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
  padding: 8px 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

form.anlzer-form .label-icon.focus {
  border-color: #e89f10;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none; }

form.anlzer-form .label-icon i.fa {
  color: #777777; }

form.anlzer-form ul.errorlist li,
form.anlzer-form .django-form-error {
  color: #D90000;
  list-style: none; }

form.anlzer-form select:not([multiple]) {
  width: 260px;
  color: #333333; }

form.anlzer-form select:not([multiple]) option {
  color: #333333; }

form.anlzer-form select:not([multiple]) option:focus, form.anlzer-form select:not([multiple]) option:active, form.anlzer-form select:not([multiple]) option:visited, form.anlzer-form select:not([multiple]) option:checked {
  background: #e89f10;
  color: white; }

form.anlzer-form select[multiple],
form.anlzer-form select[multiple].input-lg,
form.anlzer-form ul.ul-from-select {
  border: none;
  height: 70px;
  padding-bottom: 10px; }

form.anlzer-form select[multiple] li,
form.anlzer-form select[multiple] option,
form.anlzer-form select[multiple].input-lg li,
form.anlzer-form select[multiple].input-lg option,
form.anlzer-form ul.ul-from-select li,
form.anlzer-form ul.ul-from-select option {
  color: whitesmoke;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #e89f10;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

form.anlzer-form select[multiple] li:last-of-type,
form.anlzer-form select[multiple] option:last-of-type,
form.anlzer-form select[multiple].input-lg li:last-of-type,
form.anlzer-form select[multiple].input-lg option:last-of-type,
form.anlzer-form ul.ul-from-select li:last-of-type,
form.anlzer-form ul.ul-from-select option:last-of-type {
  margin-right: 0; }

form.anlzer-form select[multiple] li:hover,
form.anlzer-form select[multiple] option:hover,
form.anlzer-form select[multiple].input-lg li:hover,
form.anlzer-form select[multiple].input-lg option:hover,
form.anlzer-form ul.ul-from-select li:hover,
form.anlzer-form ul.ul-from-select option:hover {
  background: rgba(255, 255, 255, 0.1); }

form.anlzer-form select[multiple] li:focus, form.anlzer-form select[multiple] li:active, form.anlzer-form select[multiple] li:visited, form.anlzer-form select[multiple] li:checked, form.anlzer-form select[multiple] li[data-selected="selected"], form.anlzer-form select[multiple] li.active-select,
form.anlzer-form select[multiple] option:focus,
form.anlzer-form select[multiple] option:active,
form.anlzer-form select[multiple] option:visited,
form.anlzer-form select[multiple] option:checked,
form.anlzer-form select[multiple] option[data-selected="selected"],
form.anlzer-form select[multiple] option.active-select,
form.anlzer-form select[multiple].input-lg li:focus,
form.anlzer-form select[multiple].input-lg li:active,
form.anlzer-form select[multiple].input-lg li:visited,
form.anlzer-form select[multiple].input-lg li:checked,
form.anlzer-form select[multiple].input-lg li[data-selected="selected"],
form.anlzer-form select[multiple].input-lg li.active-select,
form.anlzer-form select[multiple].input-lg option:focus,
form.anlzer-form select[multiple].input-lg option:active,
form.anlzer-form select[multiple].input-lg option:visited,
form.anlzer-form select[multiple].input-lg option:checked,
form.anlzer-form select[multiple].input-lg option[data-selected="selected"],
form.anlzer-form select[multiple].input-lg option.active-select,
form.anlzer-form ul.ul-from-select li:focus,
form.anlzer-form ul.ul-from-select li:active,
form.anlzer-form ul.ul-from-select li:visited,
form.anlzer-form ul.ul-from-select li:checked,
form.anlzer-form ul.ul-from-select li[data-selected="selected"],
form.anlzer-form ul.ul-from-select li.active-select,
form.anlzer-form ul.ul-from-select option:focus,
form.anlzer-form ul.ul-from-select option:active,
form.anlzer-form ul.ul-from-select option:visited,
form.anlzer-form ul.ul-from-select option:checked,
form.anlzer-form ul.ul-from-select option[data-selected="selected"],
form.anlzer-form ul.ul-from-select option.active-select {
  background: #e89f10;
  color: white; }

form.anlzer-form select[multiple] li[data-selected="selected"]:hover, form.anlzer-form select[multiple] li.active-select:hover,
form.anlzer-form select[multiple] option[data-selected="selected"]:hover,
form.anlzer-form select[multiple] option.active-select:hover,
form.anlzer-form select[multiple].input-lg li[data-selected="selected"]:hover,
form.anlzer-form select[multiple].input-lg li.active-select:hover,
form.anlzer-form select[multiple].input-lg option[data-selected="selected"]:hover,
form.anlzer-form select[multiple].input-lg option.active-select:hover,
form.anlzer-form ul.ul-from-select li[data-selected="selected"]:hover,
form.anlzer-form ul.ul-from-select li.active-select:hover,
form.anlzer-form ul.ul-from-select option[data-selected="selected"]:hover,
form.anlzer-form ul.ul-from-select option.active-select:hover {
  background: #ECB204 !important;
  background-color: #ECB204 !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.38), inset 0 0 6px rgba(0, 0, 0, 0.48); }

form.anlzer-form select:-internal-list-box option:checked {
  background-color: #e89f10 !important; }

form.anlzer-form .help-text {
  font-size: 12px;
  color: #e89f10; }

form.anlzer-form .bootstrap-switch,
form.anlzer-form .bootstrap-switch-handle-off,
form.anlzer-form .bootstrap-switch-handle-off:focus,
form.anlzer-form .bootstrap-switch:focus {
  border: none;
  outline: none; }

form.anlzer-form .bootstrap-switch.bootstrap-switch-wrapper {
  margin-left: 30px;
  margin-right: 85px; }

form.anlzer-form .bootstrap-switch.bootstrap-switch-focused {
  box-shadow: none; }

form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #e89f10; }

form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #777777; }

body.report-creation-page,
body.report-update-page,
body.reports-page {
  background: url(../img/back2.jpg) right 100% no-repeat fixed #fff;
  background-color: #333333;
  background-blend-mode: multiply;
  background-size: 100%; }

body.report-creation-page .container .row:first-child, body.report-creation-page .container .row:first-child h1, body.report-creation-page .container .row:first-child h2, body.report-creation-page .container .row:first-child h3, body.report-creation-page .container .row:first-child h4,
body.report-update-page .container .row:first-child,
body.report-update-page .container .row:first-child h1,
body.report-update-page .container .row:first-child h2,
body.report-update-page .container .row:first-child h3,
body.report-update-page .container .row:first-child h4,
body.reports-page .container .row:first-child,
body.reports-page .container .row:first-child h1,
body.reports-page .container .row:first-child h2,
body.reports-page .container .row:first-child h3,
body.reports-page .container .row:first-child h4 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #e89f10; }

body.report-creation-page .container .row:first-child hr,
body.report-update-page .container .row:first-child hr,
body.reports-page .container .row:first-child hr {
  background: #333;
  border: 1px solid grey; }

body.report-creation-page .container form.anlzer-form input,
body.report-creation-page .container form.anlzer-form textarea,
body.report-creation-page .container form.anlzer-form select,
body.report-update-page .container form.anlzer-form input,
body.report-update-page .container form.anlzer-form textarea,
body.report-update-page .container form.anlzer-form select,
body.reports-page .container form.anlzer-form input,
body.reports-page .container form.anlzer-form textarea,
body.reports-page .container form.anlzer-form select {
  color: whitesmoke; }

body.report-creation-page .container .source-option,
body.report-update-page .container .source-option,
body.reports-page .container .source-option {
  background: rgba(0, 0, 0, 0.85);
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #e89f10;
  margin-right: 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 4em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body.report-creation-page .container .source-option:hover,
body.report-update-page .container .source-option:hover,
body.reports-page .container .source-option:hover {
  background: rgba(0, 0, 0, 0.5); }

body.report-creation-page .container .source-option.active, body.report-creation-page .container .source-option.active:hover, body.report-creation-page .container .source-option.active:focus,
body.report-update-page .container .source-option.active,
body.report-update-page .container .source-option.active:hover,
body.report-update-page .container .source-option.active:focus,
body.reports-page .container .source-option.active,
body.reports-page .container .source-option.active:hover,
body.reports-page .container .source-option.active:focus {
  background: #e89f10; }

body.report-creation-page .container .source-option:hover,
body.report-update-page .container .source-option:hover,
body.reports-page .container .source-option:hover {
  background: rgba(0, 0, 0, 0.5); }

body.report-creation-page form.anlzer-form .label-icon i.fa,
body.report-update-page form.anlzer-form .label-icon i.fa,
body.reports-page form.anlzer-form .label-icon i.fa {
  color: white; }

body.report-creation-page .applyBtn,
body.report-creation-page .cancelBtn,
body.report-update-page .applyBtn,
body.report-update-page .cancelBtn,
body.reports-page .applyBtn,
body.reports-page .cancelBtn {
  border: none;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 3px; }

body.report-creation-page .applyBtn,
body.report-update-page .applyBtn,
body.reports-page .applyBtn {
  background: #e89f10;
  color: whitesmoke; }

body.report-creation-page .applyBtn:hover,
body.report-update-page .applyBtn:hover,
body.reports-page .applyBtn:hover {
  background: #ECB204; }

body.report-creation-page .cancelBtn,
body.report-update-page .cancelBtn,
body.reports-page .cancelBtn {
  background: #777777;
  color: whitesmoke; }

body.report-creation-page .cancelBtn:hover,
body.report-update-page .cancelBtn:hover,
body.reports-page .cancelBtn:hover {
  background: #8e8e8e; }

body.report-creation-page .ranges li,
body.report-update-page .ranges li,
body.reports-page .ranges li {
  font-size: 13px;
  background: rgba(245, 245, 245, 0.11);
  border: 1px solid;
  border-radius: 4px;
  color: #e89f10;
  padding: 3px 12px;
  margin-bottom: 8px;
  cursor: pointer; }

body.report-creation-page .ranges li:hover,
body.report-update-page .ranges li:hover,
body.reports-page .ranges li:hover {
  background: #ECB204;
  color: white; }

body.report-creation-page .report-item,
body.report-update-page .report-item,
body.reports-page .report-item {
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid; }

body.report-creation-page .report-item:last-of-type,
body.report-update-page .report-item:last-of-type,
body.reports-page .report-item:last-of-type {
  border: none; }

body.report-creation-page .report-item .report-setup-icon,
body.report-creation-page .report-item .report-delete-icon,
body.report-update-page .report-item .report-setup-icon,
body.report-update-page .report-item .report-delete-icon,
body.reports-page .report-item .report-setup-icon,
body.reports-page .report-item .report-delete-icon {
  opacity: 0;
  padding: 10px 12px; }

body.report-creation-page .report-item .report-icon,
body.report-update-page .report-item .report-icon,
body.reports-page .report-item .report-icon {
  padding: 15px 20px;
  font-size: 30px; }

body.report-creation-page .report-item h3,
body.report-update-page .report-item h3,
body.reports-page .report-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left !important;
  color: lightgrey;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body.report-creation-page .report-item h6,
body.report-update-page .report-item h6,
body.reports-page .report-item h6 {
  text-align: left;
  font-size: 15px;
  color: #F7DEBF; }

body.report-creation-page .report-item:hover .report-setup-icon,
body.report-creation-page .report-item:hover .report-delete-icon,
body.report-update-page .report-item:hover .report-setup-icon,
body.report-update-page .report-item:hover .report-delete-icon,
body.reports-page .report-item:hover .report-setup-icon,
body.reports-page .report-item:hover .report-delete-icon {
  opacity: 1;
  -webkit-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s; }

body.report-creation-page .report-item:hover .report-icon,
body.report-creation-page .report-item:hover .report-icon:hover,
body.report-update-page .report-item:hover .report-icon,
body.report-update-page .report-item:hover .report-icon:hover,
body.reports-page .report-item:hover .report-icon,
body.reports-page .report-item:hover .report-icon:hover {
  border-color: #e89f10;
  color: #e89f10;
  cursor: pointer; }

body.report-creation-page .report-item:hover h3,
body.report-creation-page .report-item:hover h3:hover,
body.report-update-page .report-item:hover h3,
body.report-update-page .report-item:hover h3:hover,
body.reports-page .report-item:hover h3,
body.reports-page .report-item:hover h3:hover {
  color: #ECB204; }

body.report-creation-page .report-icon,
body.report-creation-page .report-setup-icon,
body.report-creation-page .report-delete-icon,
body.report-update-page .report-icon,
body.report-update-page .report-setup-icon,
body.report-update-page .report-delete-icon,
body.reports-page .report-icon,
body.reports-page .report-setup-icon,
body.reports-page .report-delete-icon {
  color: #C1C1C1;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid whitesmoke;
  border-radius: 50%;
  font-size: 15px;
  padding: 10px 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

body.report-creation-page .report-icon:hover,
body.report-creation-page .report-setup-icon:hover,
body.report-creation-page .report-delete-icon:hover,
body.report-update-page .report-icon:hover,
body.report-update-page .report-setup-icon:hover,
body.report-update-page .report-delete-icon:hover,
body.reports-page .report-icon:hover,
body.reports-page .report-setup-icon:hover,
body.reports-page .report-delete-icon:hover {
  border-color: #e89f10;
  color: #e89f10; }

body.report-creation-page .row.report-details-container,
body.report-update-page .row.report-details-container,
body.reports-page .row.report-details-container {
  min-height: 300px;
  max-height: 1000px;
  overflow-y: auto;
  border: 1px solid #777777; }

body.report-creation-page .row.report-details-container .report-details-menu,
body.report-update-page .row.report-details-container .report-details-menu,
body.reports-page .row.report-details-container .report-details-menu {
  position: absolute;
  left: 35.5%;
  top: 208px; }
  body.report-creation-page .row.report-details-container .report-details-menu button,
  body.report-update-page .row.report-details-container .report-details-menu button,
  body.reports-page .row.report-details-container .report-details-menu button {
    background: #0E0C09; }
  body.report-creation-page .row.report-details-container .report-details-menu button:hover,
  body.report-update-page .row.report-details-container .report-details-menu button:hover,
  body.reports-page .row.report-details-container .report-details-menu button:hover {
    background: #252524; }

body.report-creation-page .row.report-details-container .report-details-menu.active,
body.report-update-page .row.report-details-container .report-details-menu.active,
body.reports-page .row.report-details-container .report-details-menu.active {
  background: #e89f10;
  color: whitesmoke; }

body.report-creation-page .popover-content > i.fa,
body.report-update-page .popover-content > i.fa,
body.reports-page .popover-content > i.fa {
  margin: 5px 0;
  display: block;
  cursor: pointer; }

body.report-creation-page .popover.left > .arrow:after,
body.report-update-page .popover.left > .arrow:after,
body.reports-page .popover.left > .arrow:after {
  border-left-color: #333; }

body.report-creation-page .popover,
body.report-creation-page .popover-content,
body.report-update-page .popover,
body.report-update-page .popover-content,
body.reports-page .popover,
body.reports-page .popover-content {
  background: #333; }

body.report-creation-page .report-creator,
body.report-update-page .report-creator,
body.reports-page .report-creator {
  font-size: 17px;
  color: darkgrey;
  margin-left: 15px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=/static/anlzer/sass/reports.css.map */