{% extends 'base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block body_class %}password-reset-page{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'anlzer/sass/account.scss' %}">
{% endblock %}

{% block navbar %}{% include 'landing/util/menu.html' %}{% endblock %}

{% block content %}
<div class="container">
    <form method="post" autocomplete="off" class="login-form password-reset-form anlzer-form">
        {% csrf_token %}

        <div class="logo row">
            <a href="{% url 'index' %}" class="center-block text-center">
                <img src="{% static 'anlzer/img/logo-grey.PNG' %}" alt="logo">
            </a>
        </div>

        {% if form %}
            <div class="row text-center">
                <h2 class="anlzer-grey">Password Reset</h2>
                <p class="anlzer-yellow">
                    Please insert a password you can remember <i class="fa fa-smile-o"></i>
                </p>
            </div>
        {% endif %}

        <div class="fields-container">
            {% if form %}
                {% csrf_token %}
                <p>
                    <label class="label-icon"><i class="fa fa-lock"></i></label>
                    {{ form.new_password1|attr:"placeholder: Your Password" }}
                    {{ form.new_password1.errors }}
                </p>
                <p>
                    <label class="label-icon"><i class="fa fa-lock"></i></label>
                    {{ form.new_password2|attr:"placeholder: Your Password Again" }}
                    {{ form.new_password2.errors }}
                </p>

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p class="django-form-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <p><button type="submit" class="success-btn text-center">Reset password</button></p>
            {% else %}
                <div class="row">
                    <p class="col-md-12 anlzer-red" style="font-size: 20px;">
                        This password reset link has expired. Please visit the <a href="{% url 'password-reset' %}">Password Reset Page</a> to issue another request
                    </p>
                </div>
            {% endif %}
        </div>

        <div class="row dark">
            <div class="col-xs-12 text-center">Go to <a href="{% url 'login' %}">Login page</a></div>
        </div>
    </form>
</div>
{% endblock %}