{% extends 'base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block body_class %}password-reset-page{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'anlzer/sass/account.scss' %}">
{% endblock %}

{% block navbar %}{% include 'landing/util/menu.html' %}{% endblock %}

{% block content %}
<div class="container">
    <form method="post" autocomplete="off" class="login-form password-reset-form anlzer-form">
        {% csrf_token %}

        <div class="logo row">
            <a href="{% url 'index' %}" class="center-block text-center">
                <img src="{% static 'anlzer/img/logo-grey.PNG' %}" alt="logo">
            </a>
        </div>

        {% if form %}
            <div class="row">
                <p class="col-md-8 col-md-offset-2 anlzer-yellow">
                    Please enter your already registered email address and we will send you an email with directions on how to reset your password
                </p>
            </div>
            <div class="fields-container">
                {% csrf_token %}
                <p>
                    <label class="label-icon"><i class="fa fa-envelope"></i></label>
                    {{ form.email|attr:"placeholder: Your registered email" }}
                    {{ form.email.errors }}
                </p>

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p class="django-form-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <p><button type="submit" class="success-btn text-center">Request password reset</button></p>
            </div>
        {% else %}
            <div class="row">
                <p class="col-md-8 col-md-offset-2 anlzer-green" style="font-size: 20px;">
                    An email has been sent to the address you have entered, should a registered user
                    with this address exist in our database.
                </p>
            </div>
        {% endif %}

        <div class="row dark">
            <div class="col-xs-12 text-center">Back to <a href="{% url 'login' %}">Login page</a></div>
        </div>
    </form>
</div>
{% endblock %}