/* variable definition */
form.anlzer-form input,
form.anlzer-form textarea,
form.anlzer-form select {
  outline: 0;
  border: none;
  background: transparent;
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid #C1C1C1 !important;
  border-radius: 0;
  color: grey;
  font-weight: 300;
  font-size: 20px;
  overflow: hidden; }

form.anlzer-form input:active, form.anlzer-form input:focus,
form.anlzer-form textarea:active,
form.anlzer-form textarea:focus,
form.anlzer-form select:active,
form.anlzer-form select:focus {
  outline: none; }

form.anlzer-form input:-webkit-autofill, form.anlzer-form input:-webkit-autofill:focus,
form.anlzer-form textarea:-webkit-autofill,
form.anlzer-form textarea:-webkit-autofill:focus,
form.anlzer-form select:-webkit-autofill,
form.anlzer-form select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  color: grey; }

form.anlzer-form input[type=file],
form.anlzer-form textarea[type=file],
form.anlzer-form select[type=file] {
  display: inline-block; }

form.anlzer-form .label-icon {
  margin-right: 25px;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
  padding: 8px 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

form.anlzer-form .label-icon.focus {
  border-color: #099e6e;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none; }

form.anlzer-form .label-icon i.fa {
  color: #999; }

form.anlzer-form ul.errorlist li,
form.anlzer-form .django-form-error {
  color: #D90000;
  list-style: none; }

form.anlzer-form select:not([multiple]) {
  width: 260px;
  color: #333333; }

form.anlzer-form select:not([multiple]) option {
  color: #333333; }

form.anlzer-form select:not([multiple]) option:focus, form.anlzer-form select:not([multiple]) option:active, form.anlzer-form select:not([multiple]) option:visited, form.anlzer-form select:not([multiple]) option:checked {
  background: #099e6e;
  color: white; }

form.anlzer-form select[multiple],
form.anlzer-form select[multiple].input-lg,
form.anlzer-form ul.ul-from-select {
  border: none;
  height: 70px;
  padding-bottom: 10px; }

form.anlzer-form select[multiple] li,
form.anlzer-form select[multiple] option,
form.anlzer-form select[multiple].input-lg li,
form.anlzer-form select[multiple].input-lg option,
form.anlzer-form ul.ul-from-select li,
form.anlzer-form ul.ul-from-select option {
  color: #444;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #099e6e;
  background: white;
  margin-right: 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

form.anlzer-form select[multiple] li:last-of-type,
form.anlzer-form select[multiple] option:last-of-type,
form.anlzer-form select[multiple].input-lg li:last-of-type,
form.anlzer-form select[multiple].input-lg option:last-of-type,
form.anlzer-form ul.ul-from-select li:last-of-type,
form.anlzer-form ul.ul-from-select option:last-of-type {
  margin-right: 0; }

form.anlzer-form select[multiple] li:hover,
form.anlzer-form select[multiple] option:hover,
form.anlzer-form select[multiple].input-lg li:hover,
form.anlzer-form select[multiple].input-lg option:hover,
form.anlzer-form ul.ul-from-select li:hover,
form.anlzer-form ul.ul-from-select option:hover {
  background: #099e6e;
  color: white; }

form.anlzer-form select[multiple] li:focus, form.anlzer-form select[multiple] li:active, form.anlzer-form select[multiple] li:visited, form.anlzer-form select[multiple] li:checked, form.anlzer-form select[multiple] li[data-selected="selected"], form.anlzer-form select[multiple] li.active-select,
form.anlzer-form select[multiple] option:focus,
form.anlzer-form select[multiple] option:active,
form.anlzer-form select[multiple] option:visited,
form.anlzer-form select[multiple] option:checked,
form.anlzer-form select[multiple] option[data-selected="selected"],
form.anlzer-form select[multiple] option.active-select,
form.anlzer-form select[multiple].input-lg li:focus,
form.anlzer-form select[multiple].input-lg li:active,
form.anlzer-form select[multiple].input-lg li:visited,
form.anlzer-form select[multiple].input-lg li:checked,
form.anlzer-form select[multiple].input-lg li[data-selected="selected"],
form.anlzer-form select[multiple].input-lg li.active-select,
form.anlzer-form select[multiple].input-lg option:focus,
form.anlzer-form select[multiple].input-lg option:active,
form.anlzer-form select[multiple].input-lg option:visited,
form.anlzer-form select[multiple].input-lg option:checked,
form.anlzer-form select[multiple].input-lg option[data-selected="selected"],
form.anlzer-form select[multiple].input-lg option.active-select,
form.anlzer-form ul.ul-from-select li:focus,
form.anlzer-form ul.ul-from-select li:active,
form.anlzer-form ul.ul-from-select li:visited,
form.anlzer-form ul.ul-from-select li:checked,
form.anlzer-form ul.ul-from-select li[data-selected="selected"],
form.anlzer-form ul.ul-from-select li.active-select,
form.anlzer-form ul.ul-from-select option:focus,
form.anlzer-form ul.ul-from-select option:active,
form.anlzer-form ul.ul-from-select option:visited,
form.anlzer-form ul.ul-from-select option:checked,
form.anlzer-form ul.ul-from-select option[data-selected="selected"],
form.anlzer-form ul.ul-from-select option.active-select {
  background: #099e6e;
  color: white; }

form.anlzer-form select[multiple] li[data-selected="selected"]:hover, form.anlzer-form select[multiple] li.active-select:hover,
form.anlzer-form select[multiple] option[data-selected="selected"]:hover,
form.anlzer-form select[multiple] option.active-select:hover,
form.anlzer-form select[multiple].input-lg li[data-selected="selected"]:hover,
form.anlzer-form select[multiple].input-lg li.active-select:hover,
form.anlzer-form select[multiple].input-lg option[data-selected="selected"]:hover,
form.anlzer-form select[multiple].input-lg option.active-select:hover,
form.anlzer-form ul.ul-from-select li[data-selected="selected"]:hover,
form.anlzer-form ul.ul-from-select li.active-select:hover,
form.anlzer-form ul.ul-from-select option[data-selected="selected"]:hover,
form.anlzer-form ul.ul-from-select option.active-select:hover {
  background: #0aaa76 !important;
  background-color: #0aaa76 !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.38), inset 0 0 6px rgba(0, 0, 0, 0.48); }

form.anlzer-form select:-internal-list-box option:checked {
  background-color: #099e6e !important; }

form.anlzer-form .help-text {
  font-size: 12px;
  color: #099e6e; }

form.anlzer-form .bootstrap-switch,
form.anlzer-form .bootstrap-switch-handle-off,
form.anlzer-form .bootstrap-switch-handle-off:focus,
form.anlzer-form .bootstrap-switch:focus {
  border: none;
  outline: none; }

form.anlzer-form .bootstrap-switch.bootstrap-switch-wrapper {
  margin-left: 30px;
  margin-right: 85px; }

form.anlzer-form .bootstrap-switch.bootstrap-switch-focused {
  box-shadow: none; }

form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #099e6e; }

form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
form.anlzer-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #bbb; }

.login-form {
  width: 50%;
  margin: 10vh 25%;
  padding-top: 25px;
  border-radius: 5px;
  background: #f7f7f7; }

.login-form .row {
  line-height: 1.2em; }

.login-form .fields-container {
  padding: 0 15%; }

.login-form .logo {
  margin: 15px 0 45px 0; }

.login-form .logo a,
.login-form .logo a:hover {
  border: none; }

.login-form input:-webkit-autofill, .login-form input:-webkit-autofill:focus, .login-form select:-webkit-autofill, .login-form select:-webkit-autofill:focus, .login-form textarea:-webkit-autofill, .login-form textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px whitesmoke inset !important; }

.login-form .dark {
  background: #ddd;
  border-top: 1px solid white;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  font-size: 20px; }

.login-form a {
  color: #099e6e; }

.login-form a:hover {
  color: #0aaa76;
  border-bottom: 1px solid; }

/*# sourceMappingURL=/static/anlzer/sass/account.css.map */